@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: var(--title-color-text);
}

.navbar-mainbg{
	background-color: var(--main-background-color);
	padding: 0px;
}

#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: var(--main-color);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 10px 10px;
	margin: 10px;
	border-radius: 8px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
	outline: none;
}

#navbarSupportedContent ul li a:hover{
	color:var(--navbar-hover-color);
}

.backgroundBtn{
	background-color: var(--main-color);
	color: var(--secondary-color-text)!important;
	transition: all 1s;
}

.backgroundBtn:hover{
	background-color: var(--main-color);
	color: var(--main-color-text)!important;
	transition: all 1s;
}

#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}

@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}
.container{
	height: 100%;
	min-height: 80vh;
  }
  .authAlert{
	margin-left: 30px;
	margin-right: 30px;
  }
  
  
  .card{
	color: var(--main-color-text);
	background-color: var(--secondary-background-color);
	border: none;
  }
  
  .form-control{
	border-radius: 0;
	color: var(--main-color-text)!important;
	background-color: var(--secondary-background-color)!important;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: var(--main-color);
	box-shadow: none;
  }
  
  .form-control:focus{
	color: var(--main-color-text)!important;
	background-color: var(--secondary-background-color)!important;
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
  }
  
  .form-control .ng-touched .ng-dirty .ng-valid{
	color: var(--main-color-text)!important;
	background-color: var(--secondary-background-color)!important;
	border: none;
	box-shadow: none;
  }
  
  .modal-header{
	border-bottom:none;
  }
  
  .modal-footer{
	border-top:none;
  }


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
}