<app-app-loading *ngIf="isLoading"></app-app-loading>
<div class="modal" class="container mt-4">
    <div class="d-flex justify-content-between">
        <div class="form-group has-search ms-3 float-left my-auto">
            <span class="fa fa-search form-control-feedback"></span>
            <input class ="form-control" type="text" value="" [formControl]="searchControl"/>
        </div>
    </div>
</div>
<div class="container mt-3" *ngIf="!isLoading">
    <div class="row  d-flex justify-content-start">
        <div *ngFor="let book of displayBook;" class="col-md-auto">
            <div>
                <div class="pt-2">
                    <div class="shadow-risen card book-card rounded" style="width: 14rem;">

                        <div class="col align-center h-50">
                            <img src="{{book.picture}}" style="height: 14rem; object-fit: contain;"
                                class="card-img-top align-center" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <h5 class="card-title title">{{book.title}}</h5>
                                <p class="card-text">{{book.category}} </p>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-primary col" (click)="openDetail(book.id)">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
